body {
    /* https://color.adobe.com/create/color-wheel/ */
    background-color: #5FB6FF;
    font-size: 2em;
    text-align: center;
  }
ul{
    list-style: none;
    text-align: left;
    font-size: 0.5em;
}

p{
    font-size: 1em;
    text-align: left; 
}
  